@model MLearning.Core.Entities.head_by_institution

@using (Html.BeginForm("Institutions", "Admin", FormMethod.Post,new { id = "modalForm", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

     @Html.HiddenFor(model => model.id)
     @Html.HiddenFor(model => model.head_id)
     @Html.HiddenFor(model => model.institution_id)
     //@Html.HiddenFor(model => model.created_at)
     //@Html.HiddenFor(model => model.updated_at)
     //@Html.HiddenFor(model => model.icreated_at)
     //@Html.HiddenFor(model => model.iupdated_at)

    <fieldset>
        <div class="form-group">
            <label class="col-md-3 control-label" for="institution_name">Nombres <span class="asterisk">*</span></label>
            <div class="col-md-9">
               @Html.TextBoxFor(model => model.institution_name, new { @class = "form-control", @required = "required", validationmessage = "Ingrese el nombre de la Institución" })
               @Html.ValidationMessageFor(model => model.institution_name)
             </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="country">País <span class="asterisk">*</span></label>
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.country, new { @class = "form-control", @required = "required", validationmessage = "Ingrese el país" })
                @Html.ValidationMessageFor(model => model.country)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.region, "Región/Estado", new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.region, new { @class = "form-control", @required = "required", validationmessage = "Ingrese la region y/o estado" })
                @Html.ValidationMessageFor(model => model.region)
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="city">Ciudad <span class="asterisk">*</span></label>
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.city, new { @class = "form-control", @required = "required", validationmessage = "Ingrese la ciudad" })
                @Html.ValidationMessageFor(model => model.city)
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="postal_code">C. Postal <span class="asterisk">*</span></label>
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.postal_code, new { @class = "form-control", @required = "required", validationmessage = "Ingrese el código postal" })
                @Html.ValidationMessageFor(model => model.postal_code)
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="telephone">Teléfono <span class="asterisk">*</span></label>
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.telephone, new { @class = "form-control", @required = "required", validationmessage = "Ingrese el teléfono" })
                @Html.ValidationMessageFor(model => model.telephone)
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="email">Email <span class="asterisk">*</span></label>
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.email, new { @class = "form-control", @required = "required", validationmessage = "Ingrese el correo electrónico" })
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.website_address, "Sitio Web", new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.website_address, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.website_address)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.notes, "Descripción", new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.notes, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.notes)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.notes, "DIRECTOR", new { @class = "col-md-3 control-label" })
            <div class="col-md-9"></div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="name">Nombres <span class="asterisk">*</span></label>
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.name, new { @class = "form-control", @required = "required", validationmessage = "Ingrese el nombre del director" })
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="lastname">Apellidos <span class="asterisk">*</span></label>
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.lastname, new { @class = "form-control", @required = "required", validationmessage = "Ingrese los apellidos del director" })
                @Html.ValidationMessageFor(model => model.lastname)
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="username">Usuario <span class="asterisk">*</span></label>
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.username, new { @class = "form-control", @required = "required", validationmessage = "Ingrese un usuario"})
                @Html.ValidationMessageFor(model => model.username)
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="password" style="padding-right: 0; padding-left: 0;">Contraseña <span class="asterisk">*</span></label>
            <div class="col-md-9">
             
                @Html.PasswordFor(model => model.password, new { value = "", @class = "form-control", @required = "required", validationmessage = "Ingrese una contraseña" })
                @Html.ValidationMessageFor(model => model.password, "", new { value = "" })
            </div>
        </div>

    </fieldset>
}
