@{
    ViewBag.Title = "Institutions";
    ViewBag.VisibleMenus = "[{codigo: 0},{codigo: 1},{codigo: 2}]";
    ViewBag.ActiveRole = "Super administrador";
    ViewBag.menu = 1;
}

<div class="content-box">

    @(Html.Kendo().Grid<MLearning.Core.Entities.head_by_institution>()
    .Name("grid-table")
    .Columns(columns =>
    {
        columns.Bound(c => c.id).HeaderTemplate("Id");
        columns.Bound(c => c.institution_name).HeaderTemplate("Nombre");
        columns.Bound(c => c.country).HeaderTemplate("Pais");
        columns.Bound(c => c.city).HeaderTemplate("Ciudad");
        columns.Bound(c => c.fullname).HeaderTemplate("Director");

        columns.Command(command =>
        {
            command.Custom("Ver").Click("detalleInstitucion").HtmlAttributes(new {@title ="Ver"});
            command.Edit().UpdateText("Guardar").CancelText("Cancelar").Text("").HtmlAttributes(new { @title = "Editar" });
            //command.Destroy().HtmlAttributes(new { @title="Eliminar"});
            command.Custom("delet").Click("eliminarInstitucion").HtmlAttributes(new { @title = "Eliminar" });
        }).HeaderTemplate("Acciones");


    })
        .ToolBar(toolbar =>
        {
            toolbar.Template("<div class='nav-tab'><div class='row'>" +
                "<div class='col-md-8'><ul><li>Instituciones Educativas</li></ul></div>" +
                "<div class='col-md-4'><div class='pull-right'><a class='btn btn-blue k-grid-add btn-blue' href='/Admin/Institution_read?grid-table-mode=insert'>Nuevo</a>" +
                "</div></div>" +
                "</div></div>");
        })

    .Pageable(pager => pager.Messages(messages => messages.Display("{0} - {1} de {2} elementos")))
    .Sortable(s => s.Enabled(true))
    .Scrollable(s => s.Enabled(false))
    .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("Institution").Window(w => w.Title("Editar Institución")))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)

        .Events(events => events
          .Change("dataSource_change")
          .Error("error_handler")
          .RequestEnd("onRequestEnd")
         )
                 
        .Model(model =>
        {
            model.Id(c => c.id);
            model.Field(c => c.id).Editable(false);
            model.Field(c => c.created_at).Editable(false);
            model.Field(c => c.updated_at).Editable(false);
        })
        .Create(update => update.Action("Institution_Create", "Admin"))
        .Read(read => read.Action("Institution_read", "Admin"))
        .Update(update => update.Action("Institution_Update", "Admin"))
        .Destroy(update => update.Action("Institution_Destroy", "Admin"))
    )
    )

    <!-- Botones de inforrmacion-->
    <div class="row">
        <div class="col-md-12">
            <ul class="buttons-details">
                <li><img src="@Url.Content("~/images/visualizar.png")">Visualizar</li>
                <li><img src="@Url.Content("~/images/editar.png")">Editar</li>
                <li><img src="@Url.Content("~/images/eliminar.png")">Eliminar</li>
            </ul>
        </div>
    </div>
</div>



<!-- vista detalles institucion-->
@(Html.Kendo().Window().Name("detalleInstitucion")
    .Title("Visualizar institución")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(440)
)


<!-- Ventana modal eliminar institucion-->
@(Html.Kendo().Window().Name("eliminarInstitucion")
    .Title("")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(400)
)


<script type="text/x-kendo-template" id="template">

    <div id="details-container">
        <div class="modal-body form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-3">Autor</label>
                <div class="col-md-9">
                    <span>#=fullname #</span>  
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-md-3">Región/Estado</label>
                <div class="col-md-9">
                    <span>#=country #</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Ciudad</label>
                <div class="col-md-9">
                    <span>#=city #</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Cod. Postal</label>
                <div class="col-md-9">
                    <span>#=postal_code #</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Teléfono</label>
                <div class="col-md-9">
                    <span>#=telephone #</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Email</label>
                <div class="col-md-9">
                    <span>#=email #</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Sitio Web</label>
                <div class="col-md-9">
                    <span>#=website_address #</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Descripción</label>
                <div class="col-md-9">
                    <span>#=notes #</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">DIRECTOR</label>
                <div class="col-md-9"></div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Nombres</label>
                <div class="col-md-9">
                    <span>#=name #</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Apellidos</label>
                <div class="col-md-9">
                    <span>#=lastname #</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Usuario</label>
                <div class="col-md-9">
                    <span>#=username #</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Contraseña</label>
                <div class="col-md-9">
                    <span>#=password #</span>
                </div>
            </div>
        </div>

        <div class="modal-footer btn-actions">
            <a href="javascript:onCancelClick();" class="btn btn-blue">Cancelar</a>
        </div>
    </div>

</script>

<script type="text/x-kendo-template" id="template-delet">

    <div id="details-container">
        <div class="modal-body">
            <span>Está seguro que desea eliminar la institución </span>
        </div>

        <div class="modal-footer btn-actions">
            <button class="btn btn-blue" id="yesButton">Si</button>
            <button class="btn btn-blue" id="noButton"> No</button>
        </div>
    </div>

</script>


<script type="text/javascript">

    function onRequestEnd(e) {
        if (e.type === "update") {
            toastr.options = { "positionClass": "toast-bottom-right", "closeButton": true, }
            toastr.success("La información se actualizó correctamente", "Operación Exitosa");
        }
        if (e.type =="create") {
            toastr.options = { "positionClass": "toast-bottom-right", "closeButton": true, }
            toastr.success("La información se guardó correctamente.", "Operación Exitosa");
        }

        console.log(e);
    }

    function dataSource_change(e) {
        console.log("hola!!");
    }

    function onCancelClick() {
        $('#detalleInstitucion').data("kendoWindow").close();
    }

    function detalleInstitucion(e) {
       
        var detailsTemplate = kendo.template($("#template").html());
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#detalleInstitucion").data("kendoWindow");
        var date = kendo.parseDate(dataItem.created_at)
        dataItem.created_at = kendo.toString(date, "D");
        wnd.content(detailsTemplate(dataItem));
        wnd.center().open();
    }

    function eliminarInstitucion(e) {

        var deleteTemplate = kendo.template($("#template-delet").html());
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#eliminarInstitucion").data("kendoWindow");
        wnd.content(deleteTemplate(dataItem));
        wnd.center().open();

        var grid = $("#grid-table").data("kendoGrid");

        //Agregando clase
        $("#eliminarInstitucion").parent().addClass("delete");


        $("#yesButton").click(function () {
            grid.dataSource.remove(dataItem)
            grid.dataSource.sync()  
            wnd.close();
        })

        $("#noButton").click(function () {
            wnd.close();
        })

    }

</script>
