
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    home = false;
    contraer_menu();
    agregarClickItem();
    //setItemActual('#institucion');
    hacerHome(false);
    //var savePageURL = '@Url.Action("SavePage", "Page")';
    @*@var currentLOSection = @(Html.Raw(JsonConvert.SerializeObject(ViewBag.currentLOsection)));
    var currentLO = @(Html.Raw(JsonConvert.SerializeObject(ViewBag.currentLO)));
    var currentPage = @(Html.Raw(JsonConvert.SerializeObject(Model)));
    var currentPageTag = @Html.Raw(JsonConvert.SerializeObject(ViewBag.pageTag));*@
</script>

<script src="@Url.Content("~/Scripts/app/quiz/quizService.js")"></script>
<script src="@Url.Content("~/Scripts/app/quiz/quizController.js")"></script>

<h2>Index</h2>

<div ng-controller="quizController">



    <div class="row">
        <div class="col-xs-12">
            <div ng-repeat="question in quiz.questions track by $index" ng-switch on="question.type" class='animate-list'>
                <question ng-switch-when='0' type="0">  </question>
                <question ng-switch-when='1' type="1">  </question>
                <question ng-switch-when='2' type="2">  </question>
                <question ng-switch-when='3' type="3">  </question>
                <question ng-switch-when='4' type="4">  </question>
  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-3 col-xs-1 col-md-offset-4 col-md-1  btns_pag">

            <a ng-click="addPagina({lotype:1})">
                <img class=" btn_peq" src="/images/036_btn_tex_e_imag.png">
            </a>



            <a ng-click="addPagina({lotype:2})">
                <img class=" btn_peq" src="/images/037_btn_tex.png">
            </a>



            <a ng-click="addPagina({lotype:3})">
                <img class=" btn_peq" src="/images/038_btn_list.png">
            </a>



            <a ng-click="addPagina({lotype:4, loitemize:{loitem:[]}})">
                <img class=" btn_peq" src="/images/039_btn_column.png">
            </a>



            <a ng-click="addPagina({lotype:5})">
                <img class=" btn_peq" src="/images/040_btn_quote.png">
            </a>



            <a ng-click="addPagina({lotype:6})">
                <img class=" btn_peq" src="/images/041_btn_image.png">
            </a>



            <a ng-click="addPagina({lotype:7})">
                <img class=" btn_peq" src="/images/042_btn_video.png">
            </a>
        </div>
    </div>
    <div class="row"><br></div>
    <div class="row">
        <div class="col-xs-offset-8 col-xs-2 col-md-offset-10 col-md-1 ">

            <a ng-click="guardarPagina()" href="">
                <img class='btn_med' src="/images/035_btn_guardar.png">

            </a>
        </div>
        <div class="col-xs-2 col-md-1">
            <a ng-click="cancelarPagina()" href="">

                <img class='btn_med' src="/images/031_btn_cancelar.png">
            </a>
        </div>
    </div>
</div>











